<div class="notify-list">
    <div [@slideInOut] *ngIf="notificationList.length > 0" class="notify-header">
        <span>
            {{notificationList.length}}
        </span>
        <span *ngIf="notificationList.length === 1">
            Notification
        </span>
        <span *ngIf="notificationList.length > 1">
            Notifications
        </span>
    </div>
    <div [@slideInOut] *ngFor="let notification of notificationList">
        <notify-popup [notification]="notification" (pop)="handlePop($event)"></notify-popup>
    </div>
</div>