@import '../colors.scss';

.notify-list {
    position: fixed;
    bottom: 0px;
    right: 0px;
    max-width: 30%;
}

.notify-header {
    border-radius: 0px;
    border-width: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: .75rem 1.25rem;
    border: 3px solid $grey-border;
    background-color: $grey-bg;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
    color: $grey-color;
}