<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Notify-Testapp</h1>
  </div>
</div>
<!-- Notification Buttons -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card text-left">
      <div class="card-body">
        <h4 class="card-title">Push Notifications</h4>
        <p class="card-text">Try the buttons to push notifications</p>
        <button type="button"
                class="btn btn-info"
                (click)="trigger(0)">Info</button>
        <button type="button"
                class="btn btn-warning"
                (click)="trigger(1)">Warning</button>
        <button type="button"
                class="btn btn-danger"
                (click)="trigger(2)">Error</button>
        <button type="button"
                class="btn btn-success"
                (click)="trigger(3)">Success</button>
        <!-- Timeout -->
        <div class="form-group">
          <label for="timeout">Timeout on new notifications</label>
          <input type="number"
                 class="form-control form-control-sm"
                 name="timeout"
                 id="timeout"
                 aria-describedby="timeout-help-ip"
                 [(ngModel)]="timeout">
          <small id="timeout-help-ip"
                 class="form-text text-muted">Put timeout in milliseconds. (0 for no timeout)</small>
        </div>
        <!-- Allow Dismiss -->
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input"
                   type="checkbox"
                   name="display-heading"
                   id="display-heading"
                   [(ngModel)]="allowDismiss"> Allow user to dismiss new notifications early
          </label>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Settings -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="card text-left">
      <div class="card-body">
        <h4 class="card-title">Settings</h4>
        <p class="card-text">Try different settings.</p>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input"
                   type="checkbox"
                   name="display-heading"
                   id="display-heading"
                   [(ngModel)]="displayHeading"> Display Heading
          </label>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Notify -->
<notify-list [displayHeading]="displayHeading"></notify-list>